.DS_Store
.eslintrc.yml
.editorconfig
.git
.github
.gitignore
.rollup.cache
.vscode
.vscodeignore
backup
doc/examples
node_modules
pkg
package-lock.json
tsconfig.json
tsconfig.tsbuildinfo
tslint.json
*.vsix
