.DS_Store
.eslintrc.json
.editorconfig
.git
.github
.gitignore
.rollup.cache
.vscode
.vscodeignore
doc/examples
pkg
node_modules
package-lock.json
tsconfig.json
tsconfig.tsbuildinfo
tslint.json
*.vsix
